<!--Navbar Content-->

<div class="overall-container">

  <div class="text-container">

    <div class="individual">
      <mat-icon>location_on</mat-icon>
    </div>

    <div class="individual">
      abcdefg
    </div>
  </div>

  <div class="text-container">

    <div class="individual">
      <mat-icon>schedule</mat-icon>
    </div>

    <div class="individual">
      abcdefg
    </div>
  </div>

  <div class="text-container">

    <div class="individual">
      <mat-icon>call</mat-icon>
    </div>

    <div class="individual">
      abcdefg
    </div>
  </div>


</div>
