<!--Navbar Content-->

<div class="overall-container">

  <div class="text-container">

    <div class="individual">
      <mat-icon>location_on</mat-icon>
    </div>

    <div class="individual">
      CLUB ROAD, VACOAS, MU
    </div>
  </div>

  <div class="text-container">

    <div class="individual">
      <mat-icon>schedule</mat-icon>
    </div>

    <div class="individual">
      TODAY: 8:30AM - 13:00PM
    </div>
  </div>

  <div class="text-container">

    <div class="individual">
      <mat-icon>call</mat-icon>
    </div>

    <div class="individual">
      5421-1188 5421-1388
    </div>
  </div>


</div>
