.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar-content {
    flex:1 1 auto;
}

.body-content {
  overflow: auto;
  height: 100%;
  flex:1 1 auto;
}

.footer-content {
  flex: 1 1 auto;
}

